* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif; }
  
  h1, h2, h3, h4, h5, p, b, span {
    font-family: "Roboto", sans-serif; }

.section-container {
    height: 98vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:center;

}

.plane-div {
    align-self: flex-end;
}

.content {
    width: 620px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #00bdbd;

}

.flex-div {
    height: 90vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-form {
    height: 120px;
    width: 350px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.card {
    padding: 25px;
}

input {
    width: 100%;
    margin-bottom: 10px;
    border-width: 1px;
    text-align: center;
    border-style: solid;
    font-weight: bold;
}

.form-text-field {
    height: 25px;
    border-radius: 15px;
    background-color: rgb(0, 85, 85);
    color: #00bdbd;
}

#form-button {
    height: 36px;
    line-height: 36px;
    border-radius: 20px;
    font-size: medium;
    font-weight: 800;
    background-color: #00bdbd;
    color: rgb(0, 85, 85);
}

#form-button:hover {
    transform: scale(1.05);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00bdbd62;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #00bdbd62;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #00bdbd62;
  }

.background-section {
    background-image: url(../assets/bg.svg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#logo {
    height: 200px;
    width: auto;
}

#logo:hover {
    transform: scale(1.03);
}

#plane {
    height: auto;
    width: 300px;
}

#route {
    height: auto;
    width: 300px;
}

footer {
    margin: auto;
    height: 2vh;
    width: 70%;
    color: #00bdbd62;
    text-align: right;

}

@media (width:600px) {

    .section-container {
        height: 1500px;
        width: 100%;
        display: grid;
    }

    .flex-form {
        display: grid;
    }

    .background-section {
        background-size: cover;
        height: 1500px;
    }
}